body {
    font-family: Arial, sans-serif;
    background-color:aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo-container {
    background: blueviolet;
    padding: 20px 25px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 15px;
}

.todo-list {
    list-style: none;
    padding: 0;
}

.todo-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.todo-list input[type="checkbox"] {
    margin-right: 10px;
}

.todo-list input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: azure;
}